# Ignore default local stack builds and exports
*_artifacts*
*_build*
*_export*

# Artifacts exported from CI by test suite
/export/
*.sarif

# VSCode config is platform specific
.vscode

# Exclude generated Python folders
__pycache__
.pdm-*
.venv
.tox
.ruff*
.mypy*
*.egg-info
*.dist-info
/dist/
.coverage*
