# Demonstrate using priority indexes to define cross-platform parallel torch stacks
[[runtimes]]
name = "cpython3.11"
python_implementation = "cpython@3.11.13"
requirements = []
platforms = [
    "macosx_arm64",
    "linux_x86_64",
]

[[frameworks]]
name = "mlx"
runtime = "cpython3.11"
macosx_target = "14"
requirements = [
    "mlx==0.29.3",
    "mlx[cpu]; sys_platform == 'linux'",
]
# Platform restrictions are inherited from lower layers

[[frameworks]]
name = "mlx-cuda"
runtime = "cpython3.11"
macosx_target = "14"
requirements = [
    "mlx[cuda]==0.29.3",
]
# A separate CUDA-based layer stack is really only needed on Linux,
# but is defined for macOS to demonstrate filtering of unused dependencies

[[applications]]
name = "mlx-example"
launch_module = "report_mlx_version.py"
frameworks = ["mlx"]
requirements = [
    # Exact version pin is inherited from the framework layer
    "mlx",
]
# Platform restrictions are inherited from lower layers

[[applications]]
name = "mlx-cuda-linux"
launch_module = "report_mlx_version.py"
frameworks = ["mlx-cuda"]
requirements = [
    # Exact version pin is inherited from the framework layer
    "mlx[cuda]",
]
# macos-only dependencies should be omitted from the layer summary
platforms = [
    "linux_x86_64",
]

[[applications]]
name = "mlx-cuda-macos"
launch_module = "report_mlx_version.py"
frameworks = ["mlx-cuda"]
requirements = [
    # Exact version pin is inherited from the framework layer
    "mlx[cuda]",
]
# Linux-only dependencies should be omitted from the layer summary
platforms = [
    "macosx_arm64",
]

[tool.uv]
exclude-newer = "2025-10-19T00:00:00Z"
# Only resolve for the relevant target platforms
environments = [
    "sys_platform == 'darwin' and platform_machine == 'arm64'",
    "sys_platform == 'linux' and platform_machine == 'x86_64'",
]
# required-environments is intentionally NOT set,
# as not all layers are built for all platforms
