[[runtimes]]
name = "cpython-3.11"
python_implementation = "cpython@3.11.10"
requirements = [
    "numpy",
    "matplotlib",
]

[[frameworks]]
name = "sklearn"
runtime = "cpython-3.11"
requirements = [
    "scikit-learn",
]
platforms = [
    "linux_aarch64",
    "linux_x86_64",
    "macosx_arm64",
    "macosx_x86_64",
    "win_amd64",
    # "win_arm64",  # No wheel available on PyPI
]

[[frameworks]]
# Use a non-default GUI due to problems with Tcl/Tk in python-build-standalone:
# https://github.com/astral-sh/uv/issues/6893
name = "gui"
runtime = "cpython-3.11"
linux_target = "glibc@2.34"
requirements = [
    "pyside6",
]
platforms = [
    # "linux_aarch64",  # No wheel available on PyPI
    "linux_x86_64",
    "macosx_arm64",
    "macosx_x86_64",
    "win_amd64",
    "win_arm64",
]



[[applications]]
name = "classification-demo"
launch_module = "launch_modules/sklearn_classification.py"
frameworks = ["sklearn", "gui"]
requirements = [
    "scikit-learn",
    "matplotlib",
    "pyside6",
]

[[applications]]
name = "clustering-demo"
launch_module = "launch_modules/sklearn_clustering.py"
frameworks = ["sklearn", "gui"]
requirements = [
    "scikit-learn",
    "matplotlib",
    "pyside6",
]

[tool.uv]
exclude-newer = "2025-10-11T00:00:00Z"
